.App {
  text-align: center;
  background:rgb(206, 230, 238);
  min-height:100vh;
  padding:50px;
}
.heading{
  text-transform: uppercase;
  letter-spacing: 4px;
}
.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
button{
  padding:5px;
  border-radius: 2px;
  margin:10px;
  background:white;
  text-transform: capitalize;
  letter-spacing: 2px;
  cursor: pointer;
}
.err{
  font-size:12px;
  color:red
}
.input-container{
  min-height:50px;
}